@charset "utf-8";

body {
    background-color: rgb(4, 5, 15);
    font-family: "JetBrains Mono", monospace;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 21, 37);
    padding:25px;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    border: 5px solid rgb(32, 226, 200);
    border-radius: 10px;
}

.header-text {
    flex: 1;
}

#name {
    font-size: 50px;
    color: whitesmoke;
    padding: 10px;
    margin-top:5px;
}

#profession {
    font-size: 25px;
    color: whitesmoke;
    padding: 10px;
    margin-top:-40px;
}

#links {
    font-size: 14px;
    color: whitesmoke;
    padding: 10px;
    margin-top: 10px;
}

#photo {
    width: 220px;
    max-width: 100%; 
    height: auto;
    border-radius: 5px;
}

/* TITLES */
.titles {
    text-align: center;
    margin: 30px 0;
    color: whitesmoke;
    background: rgb(19, 21, 37);
    padding: 10px;
}

.subtitles{
    text-align:center;
    padding:15px;
    border: 2px solid rgb(101, 243, 120);
    border-radius:10px;
}

/* TWO COLUMNS */
.two-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.two-columns > div {
    flex: 1;
    min-width: 300px;
}

/* THREE COLUMNS */
.three-columns {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.three-columns p {
    flex: 1;
    min-width: 250px;
}

/* TEXT BLOCKS */
.academic_islands,
.certifications_islands {
    padding: 10px;
    border-bottom: 5px solid;
}

.skills {
    text-align:justify;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid;  
}

#about, #info, 
.projects {
    text-align:justify;
    padding: 10px;
    border-bottom: 5px solid;
}

.generic {
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
}

/* Colores por sección */
.skills { border-color: mediumpurple; }
.projects { border: 5px solid mediumspringgreen; }
.academic_islands { border-color: mediumturquoise; }
.certifications_islands { border-color: mediumseagreen; }
#about { border-color: mediumorchid; }
#info { border-color: cadetblue; }

/* HR */
hr {
    margin: 40px 0;
    height: 5px;
    background-color: white;
    border: none;
}

/* FOOTER */
footer {
    text-align: center;
    color: whitesmoke;
    margin: 30px 0;
}
